<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
        /* Your CSS styles */
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Your JavaScript code
        });
    </script>
</head>

<body>
    <div class="nav-link">
        <h1><a href="{{ site.baseurl }}/index.html" {% if page.url == "/index.html" %} class="active-link" {% endif %}>Home</a></h1>
        <h1><a href="{{ site.baseurl }}/blog-list.html" {% if page.url == "/blog-list.html" %} class="active-link" {% endif %}>Blog</a></h1>
        <h1><a href="{{ site.baseurl }}/about.html" {% if page.url == "/about.html" %} class="active-link" {% endif %}>About</a></h1>
        <h1><a href="{{ site.baseurl }}/contact.html" {% if page.url == "/contact.html" %} class="active-link" {% endif %}>Contact</a></h1>
    </div>
    <br>

    <div class="top-left-image">
        <img src="{{ site.baseurl }}/wbg_dna.png" alt="DNA strand">
    </div>

    <div class="top-right-image">
        <img src="{{ site.baseurl }}/wbg_comp.png" alt="Universality">
    </div>

    <div class="bottom-right-image">
        <img src="{{ site.baseurl }}/wbg_web.png" alt="Web of woven guesses">
    </div>

    <main>
        {{ content }}
    </main>
</body>

</html>
